html {
    position: relative;
    min-height: 100%;
}

body {

    background:
            linear-gradient(
                    rgba(0, 0, 0, 0.5),
                    rgba(0, 0, 0, 0.5)
            ),
            url('/resources/images/background.jpg');


    /*background-image: url('/resources/images/background1.jpg');*/

    margin: 0 0 100px;
    color: white;

}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}

footer {
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    overflow: hidden;
    color: white;
}

.w3-bar, h1, button {
    font-family: "Montserrat", sans-serif
}

.fa-anchor, .fa-coffee {
    font-size: 200px
}

.text-justify {
    text-align: justify;
}

.text-center {
    text-align: center;
}

.header-padding {
    padding: 128px 16px
}

.home-right-div {
    width: 600px;
    float: right;
    display: inline-block;
    margin-right: 100px
}

.home-left-div {
    width: 600px;
    float: left;
    display: inline-block;
    margin-left: 100px;
    margin-bottom: 80px
}

.home-bottom-div {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto
}

.date-row {
    width: 130px
}

.ul-no-style {
    list-style-type: none
}

.btn-client-add {
    width: 180px
}

.btn-ts-add {
    display: inline-block;
    width: 90px
}

.btn-ts-prev {
    width: 90px
}

.btn-ts-next {
    width: 90px;
    float: right
}

.btn-report-option {
    width: 250px
}

.btn-margin{
    margin-right: 10px
}

.txt-area-no-resize {
    resize: none
}

.project-desc-width {
    width: 270px
}

.ts-main-div {
    width: 70%;
    margin-left: auto;
    margin-right: auto
}

.ts-form-sort {
    display: inline-block;
    margin-right: 50px
}

.report-invoice-width{
    width: 200px
}

.ts-form-desc{
    width: 28%
}

.ts-form-warn-btn{
    display: inline-block
}

.ts-details-tab{
    width: 1200px; table-layout: auto
}

.backgroundImage1 {
    background-image: url('/resources/images/start.jpg')
}

.backgroundImage2 {
    background-image: url('/resources/images/background.jpg')
}

tr:hover {
    color: black;
}

a{
    color: white;
}

.text-warning{
    color: chartreuse;
}



