body {
    padding-bottom: 50px;
    background-image: linear-gradient(to top, lightgrey 0%, lightgrey 1%, #e0e0e0 26%, #efefef 48%, #d9d9d9 75%, #bcbcbc 100%)
}

body, h1, h2, h3, h4, h5, h6 {
    font-family: "Lato", sans-serif;
}

.w3-bar, h1, button {
    font-family: "Montserrat", sans-serif
}

.fa-anchor, .fa-coffee {
    font-size: 200px
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin: 0 0 100px;
}

footer {
    background-color: red;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 70px;
    width: 100%;
    overflow: hidden;
    color: white;
}